@import "../../../styles/variables/colors.module";

.item {
  width: 98%;
  height: 8vh;
  border-radius: 10px;
  padding: 0 2%;
  border: 0.5px solid $inputBorderColor;
  background-color: $inputBGColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1%;
  input[type="checkbox"] {
    visibility: hidden;
  }
  .todo {
    display: block;
    position: relative;
    padding-left: 1.7rem;
    margin-bottom: 3px;
    font-size: 20px;
    &.titleDone {
      text-decoration: line-through;
      color: #8e8e93;
    }
    .todoName {
      position: absolute;
      top: 23%;
      left: 0;
      height: 1.6rem;
      width: 1.6rem;
      background-color: $inputBGColor;
      border: 1px solid $checkboxBorderColor;
      border-radius: 4px;
    }
    &:hover input ~ .todoName {
      cursor: pointer;
    }
    & input:checked ~ .todoName {
      background-color: $checkedCheckboxColor;
      border: none;
    }
    .todoName:after {
      content: "";
      position: absolute;
      display: none;
    }
    & input:checked ~ .todoName:after {
      display: block;
    }
    & .todoName:after {
      left: 6px;
      bottom: 5px;
      width: 3px;
      height: 7px;
      border: solid $inputBGColor;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .btn {
    background-color: $inputBGColor;
    height: 3.5vh;
    font-size: 1.6rem;
    color: $blueTextColor;
  }
  .delete {
    background-color: $inputBGColor;
    height: 3.5vh;
    font-size: 1.6rem;
    color: red;
  }
}
