@import "../../styles/variables/colors.module";
@import "../../styles/variables/mixins.module";

.header {
  width: 100%;
  padding: 1%;
  .inputWrapper {
    @include boxStyle(112px, center);
    padding: 1%;
    gap: 7%;
    height: 112px;

    .text {
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 16px;
      display: flex;
      align-items: center;
      color: $titleColor;
      margin-left: 1%;
    }
    .inputPart {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 4.8rem;
      .inpFirst {
        width: 55%;
        height: 4.8rem;
      }
      .inpSecond {
        width: 28%;
        height: 4.8rem;

        &::-webkit-calendar-picker-indicator {
          background-image: url("../../assets/arrowDown.svg");
          background-size: 10px 5px;
          height: 5px;
          width: 10px;
        }

        &::-webkit-datetime-edit-text {
          display: none;
        }

        &::-webkit-datetime-edit-month-field {
          color: $inputPlaceholderColor;
        }
        &::-webkit-datetime-edit-day-field {
          color: $inputPlaceholderColor;
        }
        &::-webkit-datetime-edit-year-field {
          color: $inputPlaceholderColor;
        }
      }
      .add {
        width: 17%;
        height: 48px;
        border-radius: 8px;
      }
    }
  }
}
