$headerBGColor: #f2f2f7;
$white: white;
$inputPlaceholderColor: #8e8e93;
$inputBGColor: #ffffff;
$inputBorderColor: rgb(182, 181, 181);
$titleColor: #2b2b2b;
$blueTextColor: #3a85f7;
$wholePageBGColor: #e5e5e5;
