@import "../../../styles/variables/colors.module";

.item {
  cursor: pointer;
  background-color: $inputBGColor;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 2%;
  width: 100%;
  height: 8vh;
  position: relative;
  margin-bottom: 8px;
  font-size: 16px;
  color: $blueTextColor;

  .image {
    margin-top: 1%;
    position: absolute;
    right: 16.29px;
    top: 18px;
    border: none;
    background-color: $inputBGColor;
  }
}
