@import "../../styles/variables/colors.module";

.btn {
  width: 88px;
  height: 48px;
  color: #ffffff;
  background: #3a85f7;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.6rem;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
