@import "../../styles/variables/mixins.module";
@import "../../styles/variables/colors.module";

.wrapper {
  position: absolute;
  width: 662px;
  min-height: 328px;
  height: fit-content;
  padding: 1.5%;
  left: 389px;
  top: 226px;
  background: $inputBGColor;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  .header {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2%;
    gap: 5%;
    .backBtn {
      background-color: $inputBGColor;
      color: #2b2b2b;
      font-weight: 700;
      font-size: 1.6rem;
      gap: 10%;
      width: 120px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #f2f2f7;
      border-radius: 4px;
      &:hover {
        cursor: pointer;
      }
    }
    .text {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      display: flex;
      align-items: center;
    }
  }
  .taskList {
    @include boxStyle(flex-start);
  }
}
