@import "../../styles/variables/mixins.module";

.wrapper {
  position: absolute;
  width: 662px;
  min-height: 328px;
  height: fit-content;
  padding: 1.5%;
  left: 389px;
  top: 226px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  .taskList {
    @include boxStyle(flex-start);
    .header {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 2%;
      .backBtn {
        background-color: $headerBGColor;
        color: #2b2b2b;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        width: 120px;
        border: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &:hover {
          cursor: pointer;
        }
      }
      .text {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        align-items: center;
      }
    }
  }
}
